{% extends "base.html" %}

{% block content %}

<div class="Blog-head" style="text-align: center; background-color: gray;">
    <h3 class="Makeb">Login</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="blog-login">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/login" class="auth">
        <input type="email" name="email" placeholder="Email" autofocus="">
        <input type="password" name="password" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>

        <button type="submit" class="btn">Login</button>
    </form>
</div>

{% endblock %}