{% extends "base.html" %}

{% block content %}

<div class="Blog-head" style="text-align: center; background-color: gray;" >
    <h3 class="Makeb">Sign Up</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="blog-signup">
        {{messages[0]}}.
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/signup" class="auth">
        <input required type="email" name="email"  autofocus="">
        <input required type="text" name="username" autofocus="">
        <input required type="password" name="password" >
        <button class="btn">Sign Up</button>
    </form>
</div>

{% endblock %}