{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
{% endblock%}
<!-- Content block -->
{% block content %}
    <div class="container p-2">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7 title">
                <h2 class="text-center title italic">Make your Blog</h2>
                <hr>
                {{wtf.quick_form(form, button_map={'submit':'outline-primary'})}}
            </div>
        </div>
    </div>
    <div class="DATA">
        <h2>"BIG DATA"</h2>
        <p>You’ve probably noticed that the term “big data” is frequently used <br>
        these days. That’s because big data is a major player in the digital age. <br>
        This term refers to complex and massive data sets that far exceed the <br>
        potential of traditional data processing applications.  In the online <br>
        business realm, digital businesses use the term big ...</p>
    </div>
    <div class="CRYPTO">
         <h2>CRYPTOCURRENCY</h2>
        <p>The crypto niche is an ever-expanding one. Finding a person who <br>
        hasn’t heard about cryptocurrency today is a challenge. With each passing <br>
        day, more people are joining the fold. Some come as investors, some as casual<br>
         owners or traders, and finally many enthusiasts want to learn more about <br>
         crypto. All of these people have one ...</p>
    </div>
    <footer class="fixed-bottom">
        <p class="text-center text-white"><i>@Copyright, Blog 2022</i></p>
      </footer>
{% endblock%}