{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% import "bootstrap/wtf.html" as wtf%}
{% block content %}

<div class="Blog-head" style="text-align: center; background-color: gray;">
    <h3 class="Makeb">Login</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="blog-login">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    {{wtf.quick_form(login_form)}}
</div>

{% endblock %}